{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-12">
            <h1>{{ title }}</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ducimus quasi, nobis optio inventore consequatur voluptatum animi vero totam dolore sint debitis asperiores dicta temporibus similique libero itaque harum. Omnis eos ut consequatur distinctio ipsa qui, itaque architecto hic laborum esse?
            </p>

            <p>
                Cumque ea est suscipit atque consequatur doloribus sapiente exercitationem, nostrum sint impedit excepturi delectus quasi corrupti eaque.
                Labore, libero nesciunt! Optio deleniti corporis, magnam aliquam, quo laborum dolores, doloribus vitae ducimus neque dicta sequi! 
                Amet accusamus dolore ullam deserunt libero.
            </p>
        </div>
    </div>
{% endblock %}